[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
click = "*"
progressbar2 = "*"
faker = "*"
hashids = "*"
pydantic = "*"
python-dotenv = "*"

[dev-packages]
black = "==21.9b0"
isort = "*"
flake8 = "*"
mypy = "*"
xenon = "*"

[requires]
python_version = "3.9"

